<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studyMate.mybatis.mapper.study.StudyMapper">
    <resultMap id="studyMap" type="com.studyMate.mybatis.values.study.StudyVo">
    </resultMap>

    <select id="findAll" resultMap="studyMap" parameterType="Map">
        SELECT *
        FROM study
    </select>

</mapper>
